.slideListContainer {
    display: flex;
    width: 100%;
    height: 22%;
    align-content: flex-end;
    background: #2c2c2c;
    max-width: 100%;
    padding-bottom: 20px;
    margin-top: 20px;
}

.slideListScrollButton:hover {
    background: #242424;
}
.slideListScrollButton:active {
    background: #212121;
}

.slideListScrollButton {
    display: flex;
    height: 100%;
    width: 5vh;
    align-items: center;
    justify-content: center;
    font-size: 100px;
    color: #8e8e8e;
    margin-right: 20px;
    margin-left: 20px;
    background: #2c2c2c;
    outline: none;
    border: none;
}

.slideListAddButton {
    display: flex;
    width: 35vh;
    align-items: center;
    justify-content: center;
    font-size: 100px;
    min-width: 35vh;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    color: #8e8e8e;
}

.slideViewIconContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    margin-bottom: auto;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.selectedSlideMarker {
    width: 100%;
    height: 5%;
    background: #f24e1e;
    position: absolute;
}

.slideViewIcon {
    position: relative;
    height: 100%;
    width: 35vh;
}

.slideViewIconSelected {
    height: 100%;
    width: 35vh;
}

.slideList {
    display: flex;
    flex-direction: row;
    padding: 20px;
    width: 100%;
    height: 107%;
    overflow-x: scroll;
    overflow-y: hidden;
}

.slideViewIconContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    position: relative;
}
